$accordion-border-color: none;
$accordion-bg: none;
$accordion-padding-x:                    5px;
$accordion-button-focus-box-shadow:      none;
@import "./node_modules/bootstrap/scss/bootstrap.scss";
